$border: white;
$shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem var(--shadow), 0 0 0.8rem var(--shadow), 0 0 2.8rem var(--shadow),
  inset 0 0 1.3rem var(--shadow);
$teleport-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #14a427, 0 0 0.8rem #14a427, 0 0 2.8rem #14a427,
  inset 0 0 1.3rem #14a427;

$text-shadow: 0 0 4px var(--shadow), 0 0 11px var(--shadow), 0 0 19px var(--shadow), 0 0 40px var(--shadow),
  0 0 80px var(--shadow), 0 0 90px var(--shadow), 0 0 100px var(--shadow), 0 0 150px var(--shadow);
$overlay: rgba(35, 38, 47, 0.5);

:root {
  --color-snake: #151515;
  --field-color: #6b0f0f;
  --container-color: #151515;
  --shadow: #5e0680;
}

.container,
#root,
.tutorial-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 100%;
  background-color: var(--container-color);
}

.overlay-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1850px;
  height: 900px;
  border: 4px solid white;
  border-radius: 16px;
  box-shadow: $shadow;

  div {
    margin: 24px;
    font-size: 28px;
    color: white;
  }

  .img-block img {
    width: 800px;
    height: 350px;
    object-fit: cover;
    border-radius: 4px;
  }

  .header p {
    font-size: 44px;
    font-weight: bold;
    text-shadow: $text-shadow;
  }

  .show-tutorial-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 60px;
    padding: 2px;
    border: 4px solid $border;
    border-radius: 16px;
    box-shadow: $shadow;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      transition: 0.3s;
    }
  }
}

.header-presets {
  font-size: 32px;
  font-weight: bold;
  text-shadow: $text-shadow;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.list-wrapper {
  width: 275px;
  height: 300px;
  margin: 0;
}

.list {
  display: flex;
  height: 300px;
  width: 280px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;

  .list-el,
  .list-el-admin {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 32px 0;
    opacity: 0.6;
    font-size: 28px;

    img {
      height: 30px;
      width: 30px;
      object-fit: cover;
      background-color: white;
      border-radius: 50%;
      margin-left: 16px;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

div.list-panel {
  height: 600px;
  width: 360px;
  align-items: center;
  justify-content: flex-start;
}

.list::-webkit-scrollbar,
.preset-settings::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  box-shadow: $shadow;
}

.list::-webkit-scrollbar-thumb,
.preset-settings::-webkit-scrollbar-thumb {
  background: white;
}

.list::-webkit-scrollbar-thumb:hover,
.preset-settings::-webkit-scrollbar-thumb:hover {
  background: white;
}

.tutorial-overlay {
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $overlay;
  font-size: 20px;

  .show-tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px;
    height: 500px;
    text-align: center;
    color: white;

    .tutorial-header {
      font-size: 36px;
    }

    .tutorial-body {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 8px;

        img {
          width: 120px;
          height: 120px;
          border-radius: 16px;
        }
      }
    }

    .start-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 60px;
      padding: 2px;
      border: 6px solid gray;
      border-radius: 16px;
      background-color: white;
      color: black;
      font-size: 24px;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: 0.3s;
      }
    }
  }
}

.map {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--field-color);
  position: absolute;
  left: 34%;
  top: 17%;
  border: 4px solid $border;
  box-shadow: $shadow;
  border-radius: 16px;
  transform-origin: center;
  transform: rotateZ(0deg);
  transition: transform 1s ease-in-out;
  z-index: 2;

  div {
    width: 16px;
    height: 16px;
  }
}

.snake {
  background-color: var(--color-snake);
}

.apple {
  border-radius: 20px;
  background-color: yellow;
}

.grid {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
  margin: 1px;
}

.super-apple {
  background-color: red;
  border-radius: 20px;
  animation-name: changeColor;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes changeColor {
  0% {
    background-color: red;
  }
  50% {
    background-color: orange;
  }
  100% {
    background-color: red;
  }
}

.score-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 200px;
  height: 40px;
  color: white;
  font-size: 32px;
  margin-left: 24px;
  text-shadow: $text-shadow;
  z-index: 2;

  p {
    margin: 0 8px;
  }
}

.container-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 95%;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 700px;
  width: 300px;
  color: white;
  margin-left: 32px;
  padding-left: 28px;
  border: 4px solid $border;
  background-color: var(--container-color);
  border-radius: 16px;
  box-shadow: $shadow;

  .settings-field {
    margin-top: 42px;
  }

  h2 {
    text-shadow: $text-shadow;
  }
}

.color-snake,
.color-map,
.size-map,
.speed,
.obstacles,
.teleport {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  p {
    margin-right: 4px;
  }
}

.color-snake-input,
.color-map-input,
.select-size {
  width: 90px;
  height: 30px;

  &:hover {
    cursor: pointer;
  }
}

.obstacles-input,
.teleport-input {
  width: 20px;
  height: 20px;

  &:hover {
    cursor: pointer;
  }
}

.speed-input,
.new-speed-input {
  appearance: none;
  width: 100%;
  height: 15px;
  background-color: white;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: var(--container-color);
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background-color: $border;
  }
}

.start-try-again,
.pause {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 330px;
  height: 60px;
  padding: 2px;
  color: white;
  border: 6px solid $border;
  border-radius: 16px;
  background-color: var(--container-color);
  font-size: 18px;
  margin-bottom: 16px;
  box-shadow: $shadow;
  margin: 24px 0 -8px 32px;
  z-index: 5;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
  }
}

.pause-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  color: white;
  position: absolute;
  opacity: 0.3;
  background-color: var(--container-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.teleport-el {
  background-image: url('../public/content/teleport.png');
  background-size: 100% 100%;
  box-shadow: $teleport-shadow;
  animation: rotate 2s linear infinite forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.new-preset-h1 {
  text-shadow: $text-shadow;
}

.admin-panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 100%;
  height: 100%;
  background-color: var(--container-color);
  color: white;

  .panel,
  .column {
    margin: 64px;
  }

  .inputs-column,
  .checkbox-column {
    margin: 0 64px 64px;
  }

  .panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 64px 0px 0px 344px;

    .preset-settings {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      overflow-y: auto;
      overflow-x: hidden;
      height: 600px;

      .preset-settings-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        margin: 4px;

        .column {
          width: 450px;
          align-items: flex-start;
        }

        .checkbox-column {
          width: 300px;
          input {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }

  .line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    width: 100%;
    border: 2px solid transparent;

    label {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h3 {
      width: 200px;
      text-align: left;
    }

    .select-size {
      margin-left: 16px;
    }

    select,
    input {
      width: 130px;
    }

    input {
      margin-left: 8px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .add-preset {
    border: 4px dashed white;
    padding: 16px;
    margin-top: 48px;

    &:hover {
      transform: scale(1.1);
      transition: 0.3s;
      cursor: pointer;
    }
  }
}

div.border-animation.line {
  animation: animationBorder 1.6s ease forwards;
}

@keyframes animationBorder {
  0% {
    border: 2px solid transparent;
  }

  50% {
    border: 2px dashed var(--shadow);
  }

  100% {
    border: 2px solid transparent;
  }
}

div.delete-button {
  width: 50px;
  width: 50px;
  font-size: 24px;
  color: white;
  margin: 8px;
}

.error-message,
.error-message-modal,
.direction-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  background-color: #a42841;
  width: 320px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 1%;
  transform: translate(-50%, 0);
  border-radius: 20px;

  p {
    margin: 8px;
  }
}

.direction-message {
  background-color: #14a427;
  font-size: 16px;
}

.error-message {
  left: calc(50% - 72px);
}

.overlay-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 100%;
  background: rgba(38, 38, 38, 0.98);
  position: absolute;
  color: white;
  z-index: 5;

  .modal-wrapper {
    height: 516px;
    position: relative;
  }

  .error-message-modal {
    position: absolute;
    top: 0;
  }

  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 450px;
    border: 4px solid white;
    background-color: #252525;
    margin-top: 66px;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 300px;

      p {
        margin-right: 8px;
      }

      input {
        width: 100%;
      }
    }

    input {
      &:hover {
        cursor: pointer;
      }
    }

    p,
    div {
      font-size: 18px;
    }

    .container-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      div {
        margin: 16px;
        border: 4px solid white;
        padding: 16px;
        width: 110px;
        text-align: center;

        &:hover {
          transform: scale(1.1);
          transition: 0.3s;
          cursor: pointer;
        }
      }
    }

    hr {
      width: 430px;
    }
  }
}

@keyframes moveDown {
  from {
    transform: translateY(calc(-100vh));
  }

  to {
    transform: translateY(100vh);
  }
}

.animate-img {
  width: 60px;
  height: 60px;
  margin: 16px;
  object-fit: cover;
  animation: moveDown 7s linear;
  z-index: 1;
  position: fixed;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;

  input,
  div,
  &:hover {
    pointer-events: none;
    cursor: not-allowed;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding-top: 48px;
}

.hidden {
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
}
