$container: #28b148;
$border: #21904f;
$main : #ffcb75;
$overlay: rgba(69, 76, 99, 0.852);

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.container, #root, .tutorial-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    background-color: $container;
}

.overlay-start, .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1850px;
    height: 900px;
    border: 4px solid $border;
    border-radius: 16px;
}

.overlay-start {
    flex-direction: column;

    div {
        margin: 28px;
        font-size: 28px;
        color: white;
    }

    .img-block img {
        width: 1000px;
        height: 400px;
        object-fit: cover;
        border-radius: 4px;
    }

    .header p {
        font-size: 32px;
    }

    .show-tutorial-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 60px;
        padding: 2px;
        border: 4px solid $border;
        border-radius: 16px;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
            transition: 0.3s;
        }
    }
}

.tutorial-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $overlay;

    .show-tutorial {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 700px;
        height: 500px;
        text-align: center;
        color: white;

        .tutorial-header {
            font-size: 24px;
        }

        .tutorial-body {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .column {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 8px;

                img {
                    width: 120px;
                    height: 120px;
                    border-radius: 16px;
                }
            }
        }

        .start-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 70px;
            padding: 4px;
            border: 6px solid gray;
            border-radius: 16px;
            background-color: white;
            color: black;
            font-size: 24px;
    
            &:hover {
                cursor: pointer;
                transform: scale(1.2);
                transition: 0.3s;
            }
        }
    }
}

.main {
    background-color: $main;
}

.snake {
    div, img {
        height: 40px;
        width: 40px;
        margin: 0;
        padding: 0;
    }
}

.hidden {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
}